:root {
  --blue0: 245, 248, 255;
  --blue5: 211, 225, 255;
  --blue10: 176, 202, 255;
  --blue15: 146, 182, 255;
  --blue20: 115, 162, 255;
  --blue30: 70, 132, 255;
  --blue40: 38, 110, 255;
  --blue50: 16, 94, 255;
  --blue60: 0, 82, 255;
  --blue70: 0, 75, 235;
  --blue80: 0, 62, 193;
  --blue90: 0, 41, 130;
  --blue100: 0, 24, 77;
  --green0: 245, 255, 251;
  --green5: 203, 245, 227;
  --green10: 163, 235, 205;
  --green15: 131, 224, 186;
  --green20: 101, 214, 167;
  --green30: 60, 194, 138;
  --green40: 34, 173, 115;
  --green50: 18, 153, 97;
  --green60: 9, 133, 81;
  --green70: 4, 112, 67;
  --green80: 1, 92, 54;
  --green90: 0, 71, 42;
  --green100: 0, 51, 30;
  --orange0: 255, 250, 245;
  --orange5: 254, 232, 210;
  --orange10: 253, 213, 176;
  --orange15: 251, 194, 147;
  --orange20: 249, 174, 118;
  --orange30: 244, 140, 76;
  --orange40: 237, 112, 47;
  --orange50: 225, 89, 27;
  --orange60: 207, 71, 14;
  --orange70: 181, 54, 6;
  --orange80: 145, 39, 2;
  --orange90: 100, 26, 0;
  --orange100: 51, 13, 0;
  --yellow0: 255, 253, 244;
  --yellow5: 254, 248, 217;
  --yellow10: 252, 242, 191;
  --yellow15: 249, 233, 165;
  --yellow20: 245, 224, 139;
  --yellow30: 231, 201, 91;
  --yellow40: 213, 173, 54;
  --yellow50: 188, 141, 27;
  --yellow60: 159, 106, 9;
  --yellow70: 125, 72, 0;
  --yellow80: 90, 44, 0;
  --yellow90: 55, 23, 0;
  --yellow100: 25, 8, 0;
  --gray0: 255, 255, 255;
  --gray5: 238, 240, 243;
  --gray10: 222, 225, 231;
  --gray15: 206, 210, 219;
  --gray20: 191, 196, 207;
  --gray30: 163, 169, 182;
  --gray40: 137, 144, 158;
  --gray50: 113, 120, 134;
  --gray60: 91, 97, 110;
  --gray70: 70, 75, 85;
  --gray80: 50, 53, 61;
  --gray90: 30, 32, 37;
  --gray100: 10, 11, 13;
  --indigo0: 246, 247, 255;
  --indigo5: 230, 232, 255;
  --indigo10: 214, 218, 254;
  --indigo15: 198, 204, 253;
  --indigo20: 181, 189, 253;
  --indigo30: 148, 161, 251;
  --indigo40: 116, 135, 247;
  --indigo50: 89, 111, 242;
  --indigo60: 66, 91, 233;
  --indigo70: 47, 74, 215;
  --indigo80: 31, 54, 173;
  --indigo90: 17, 32, 107;
  --indigo100: 8, 15, 51;
  --pink0: 255, 245, 255;
  --pink5: 253, 228, 253;
  --pink10: 251, 212, 250;
  --pink15: 248, 195, 245;
  --pink20: 244, 178, 240;
  --pink30: 235, 143, 227;
  --pink40: 221, 110, 209;
  --pink50: 203, 81, 187;
  --pink60: 179, 58, 162;
  --pink70: 149, 39, 133;
  --pink80: 116, 26, 102;
  --pink90: 83, 17, 72;
  --pink100: 51, 10, 44;
  --purple0: 251, 247, 255;
  --purple5: 244, 233, 255;
  --purple10: 235, 219, 254;
  --purple15: 227, 204, 253;
  --purple20: 217, 189, 253;
  --purple30: 197, 160, 251;
  --purple40: 177, 132, 247;
  --purple50: 157, 107, 242;
  --purple60: 138, 85, 233;
  --purple70: 119, 67, 215;
  --purple80: 90, 48, 173;
  --purple90: 54, 27, 107;
  --purple100: 25, 13, 51;
  --red0: 255, 245, 246;
  --red5: 254, 225, 228;
  --red10: 253, 206, 210;
  --red15: 251, 186, 191;
  --red20: 249, 166, 173;
  --red30: 244, 127, 136;
  --red40: 237, 89, 102;
  --red50: 225, 57, 71;
  --red60: 207, 32, 47;
  --red70: 181, 15, 29;
  --red80: 145, 5, 16;
  --red90: 100, 1, 9;
  --red100: 51, 0, 4;
  --teal0: 240, 254, 255;
  --teal5: 188, 246, 253;
  --teal10: 136, 237, 251;
  --teal15: 93, 226, 248;
  --teal20: 51, 213, 244;
  --teal30: 0, 188, 235;
  --teal40: 0, 169, 221;
  --teal50: 0, 147, 203;
  --teal60: 0, 123, 179;
  --teal70: 0, 97, 149;
  --teal80: 0, 71, 116;
  --teal90: 0, 47, 83;
  --teal100: 0, 27, 51;

  --primary: rgb(var(--blue60));
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

.w-node-1-1 {
  grid-column: span 1;
  grid-row: span 1;
}

.w-node-12-1 {
  width: 100%;
  grid-column: span 12;
  grid-row: span 1;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cap-text {
  text-transform: capitalize;
}

.rel-width-100 {
  width: 100%;
  position: relative;
}

.h5-style {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.002em;
  font-weight: bold;
  color: #001e00;
  margin-bottom: 10px;
}

.h3-style {
  color: #001e00;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.006em;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 0 auto;
}

.container.grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  border-radius: 8px;
}

.link-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.self-center {
  align-self: center;
}

.md-text {
  font-size: 24px;
}

.margin-r-16 {
  margin-right: 16px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-25 {
  margin-bottom: 25px;
}

.nav-item {
  height: 100%;
}

.middle-line {
  margin: auto 5px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background-color: var(--primary);
  padding: 10px 12px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--primary);
}

.secondary {
  background-color: #fff;
  color: var(--primary);
}

/* Start of Navigation bar styles */

.header {
  height: 67px;
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}

#nav-bar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 67px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  width: 48px;
}

.nav-menu {
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin: 0 18px;
}

.item-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
  height: 100%;
  font-size: 14px;
  color: rgb(5, 15, 25);
  font-weight: bold;
}

.cta-wrapper {
  display: flex;
  align-items: center;
}

/* End of Navigation bar styles */

.hero-wrapper {
  width: 100%;
  grid-column: span 12;
  grid-row: span 1;
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.hero-copy-wrapper {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 62px;
  font-weight: 500;
  line-height: 1.15;
  margin-top: 8px;
}

.hero-subtitle {
  font-size: 20px;
  line-height: 1.4;
}

.hero-image {
  width: 100%;
  display: flex;
  max-width: 560px;
  justify-content: center;
  padding: 24px 0;
}

/* Start of blog section styles */

.blog-list {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.blog-section-title {
  font-size: 38px;
  font-weight: bold;
  line-height: 39px;
  letter-spacing: 0.032em;
  color: #001e00;
  margin: 0 0 16px;
  grid-column: span 12;
  grid-row: span 1;
  margin-bottom: 10px;
}

.blog-container-wrapper {
  width: 100%;
  grid-column: span 12;
  grid-row: span 1;
}

.blog-item {
  position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-auto-columns: 1fr;
  gap: 15px;
  grid-template-rows: auto;
  color: #5e6d55;
  text-transform: capitalize;
}

.card-lg-img {
  overflow: hidden;
  width: 100%;
  height: 345px;
  border-radius: 6px;
  object-fit: cover;
}

.card-lg-link {
  position: relative;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: auto;
  color: #5e6d55;
  text-transform: capitalize;
}

.card-sm-img {
  height: 185px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  overflow: hidden;
}

.article-pills-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.pill-item {
  font-size: 14px;
  line-height: 18px;
  margin: 0 10px 4px 0;
  background-color: #f2f7f2;
  color: #5e6d55;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 48px;
}

.date-info-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  color: #9aaa97;
}

/* End of blog card styles */

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }

  .container.grid {
    gap: 15px;
  }

  .blog-section-title {
    margin-bottom: 0;
  }

  .blog-list,
  .card-lg-link {
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 462px;
  }

  .container.grid {
    row-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .blog-section-title {
    grid-column: span 6;
  }

  .w-node-12-1 {
    grid-column: span 6;
  }

  .card-lg-link {
    grid-template-columns: 1fr;
  }

  .blog-list {
    grid-template-columns: 1fr;
  }

  .hero-wrapper {
    grid-column: span 6;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}
